header {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-bottom: 4px solid #007bff;
  }

  .custom-font {
    font-family: 'YourCustomFont', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #f8f9fa;
  }
  
  
  h1 {
    background-color: #007bff;
    color: white;
    padding: 50px;
    border-radius: 5px;
    text-align: top;
  }
  
  h2 {
    background-color: 007bff;
    color: #6c757d;
    margin-top: 10px;
  }

  .footer {
    background-color: #007bff;
    padding: 15px 0;
    text-align: center;
  }

  .list-item-content {
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  